#cabecalho{
    width: 100;
    height: 150;
    border: 1px solid black;
    background: yellow;
}

#menu{
    float: left;
    min-height: 300px;
    width: 200px;
    border: 1px solid black;
    background: lightblue;
}

#conteudo{
    min-height: 300px;
    border: 1px solid black;
    background: lightsalmon;
}

#rodape{
    height: 50px;
    border: 1px solid black;
    background: darkgreen;
    color:aliceblue;
    text-align: center;
}