
        p{
            color:black;
            background-color:pink; 
            text-align: center; 
            font-family: "arial narrow"; 
            font-size: 15pt; 
            font-weight: bold;
        }
